[submodule "frontend"]
	path = frontend
	url = https://github.com/devfercastro/country-app-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/devfercastro/country-app-backend.git
